body{
    background-color: rgb(124,182,222);
}

ul{
    color: rgb(255,200,87);

    list-style: none;
    width: 50%;
    margin: auto;

    text-align: center;
    padding-left: 0%;

    border: dotted 2px;
    border-radius: 15px;
    width: 250px;
}

ul>li{
    display: inline-block;
    border-style: outset;
    border-radius: 15px;
}

h1{
    color: rgb(255,200,87);
    
    margin-top: 50px;

    text-align: center;
    border-style: dotted;
    border-radius: 15px;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

h3{
    color: rgb(255,200,87);

    text-align: center;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

aside{
    border: dotted rgb(197,34,51);
    border-radius: 15px;
    text-align: center;
    color: rgb(197,34,51);

    width: 25%;
    height: 25%;
}