body{
    background-color: rgb(124,182,222);
}

/*Navi*/
ul{
    color: rgb(255,200,87);

    list-style: none;
    width: 50%;
    margin: auto;

    text-align: center;
    padding-left: 0%;

    border: dotted 2px;
    border-radius: 15px;
    width: 250px;
}

ul>li{
    display: inline-block;
    border-style: outset;
    border-radius: 15px;
}

/*Title*/
.title > h5{
    color: rgb(255,200,87);
    text-align: center;
    margin-top: 0%;
}

.title > h1 {
    color: rgb(255,200,87);
    
    margin-top: 50px;

    text-align: center;
    border-style: dotted;
    border-radius: 15px;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.title > h3{
    color: rgb(255,200,87);

    text-align: center;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

/*Ads*/
aside{
    border: dotted rgb(197,34,51);
    border-radius: 15px;
    text-align: center;
    color: rgb(197,34,51);

    width: 24.3%;
    height: 25%;
    padding-right: 0%;
}

.grid-item{
    display: inline-block;
    background-color: rgb(255,200,87);
}

.grid-item-ad{
    display: inline-block;
    border: dotted rgb(255,200,87);
    background-color: rgb(197,34,51);
    color: rgb(255,200,87);
    height: 50vh;
    font-size: 150%;
}

/*Articles*/
.article{
    margin-top: 5px;

    border: rgb(255,200,87) dashed;
    border-radius: 10px;

    text-align: center;
    color: rgb(255,200,87);
}

.article > h3{
    color: rgb(255,200,87);

    text-align: center;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

/*Footer*/
footer > h3{
    color: rgb(197,34,51);
    text-align: left;
    margin-left: 0%;
}

footer > h4{
    color: rgb(197,34,51);
    text-align: left;
    margin-left: 0%;
}

footer{
    border-top: rgb(197,34,51)dotted;
    margin-top: 10px;
}

footer>h6{
    color: black;
    text-align: left;
}

