body{
    background-color: rgb(124,182,222);
}

ul{
    color: rgb(255,200,87);

    list-style: none;
    width: 50%;
    margin: auto;

    text-align: center;
    padding-left: 0%;

    border: dotted 2px;
    border-radius: 15px;
    width: 250px;
}

ul>li{
    display: inline-block;
    border-style: outset;
    border-radius: 15px;
}

h1{
    color: rgb(255,200,87);
    
    margin-top: 50px;

    text-align: center;
    border-style: dotted;
    border-radius: 15px;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

h3{
    color: rgb(255,200,87);

    text-align: center;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

aside{
    border: dotted rgb(197,34,51);
    border-radius: 15px;
    text-align: center;
    color: rgb(197,34,51);

    width: 24.3%;
    height: 25%;
    padding-right: 0%;
}

.grid-item{
    display: inline-block;
    background-color: rgb(255,200,87);
}

.grid-item-ad{
    display: inline-block;
    border: dotted rgb(255,200,87);
    background-color: rgb(197,34,51);
    color: rgb(255,200,87);
    height: 50vh;
    font-size: 150%;
}

.giant{
    width: 20vw;
    height: 19vh;
}

footer>h3{
    color: rgb(197,34,51);
    text-align: left;
    margin-left: 0%;
}

footer>h4{
    color: rgb(197,34,51);
    text-align: left;
    margin-left: 0%;
}